/.ipynb_checkpoints/
/resources/letters.sqlite
/letters.sqlite.old
/resources/letters - Copy.sqlite
/letters.sqlite
/Pipfile.lock
/.venv/
/.idea/
/src/__pycache__/
/resources/letters - Copy (2).sqlite
/resources/*.sqlite
*.sqlite

